src/*.o
*.o
searchTest
.vscode
indexingTest
testTables/*
smallTestTables/out_bin
main
mainUt
unitTest
createTable
inputUt
reorderingTest
searchListUnitTest
create
indexingUnitTest
projectUnitTest
ioreceiver
build/
stdoutFile
queryExecuteUnitTest
src/test1
valgrindOut
